body {
	background-color: #000;
}

hr {
	border-color: #fff;
	border-width: thick;
}

.profile {
	width: 6em;
	height: auto;
	margin-top: 7px;
}

.text-decoration-none {
	text-decoration: none;
}

section.featured-works {
	border-top: thick solid #fff;
}

h2.profession,
p.introduction,
figcaption.description {
	font-weight: 300;
}

figcaption.description {
	font-size: 12px
}