body {
	background-color: #000;
}

hr {
	border-color: #fff;
	border-width: thick;
}

h2.profession,
p.introduction,
figcaption.location {
	font-weight: 300;
}

.ventrove-logo {
	width: 6em;
    height: auto;
    margin-top: 7px;
}